<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Предмет</th>
                    <th>Цена</th>

                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.id}}</td>

                        <td>{{product.name}}</td>
                    <td>{{product.price}}</td>


                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>